.sc-message {
  margin: 15px 20px;
  display: flex;
}

.sc-message--content {
  width: 100%;
  display: flex;
}

.sc-message--content.sent {
  justify-content: flex-end;
}

.sc-message--content.hide-avatar .sc-message--avatar ,
.sc-message--content.sent .sc-message--avatar {
  display: none;
}

.sc-message--content.hide-avatar .sc-message--text {
	margin-left: 45px;
}

.sc-message--avatar {
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  align-self: center;
  margin-right: 15px;
}

.sc-message--text {
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.4;
  white-space: pre-wrap;
  -webkit-font-smoothing: subpixel-antialiased
}

.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #7a818c;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #E3E9EC;
  margin-right: 40px;
}

.sc-message--emoji {
  font-size: 40px;
}

@media (max-width: 450px) {
  .sc-message {
	width: 92%;
  }
}

.sc-chat-window .sc-message.fade-enter {
    opacity: 0;
    transform:   translate(50px,50px);
}
.sc-chat-window .sc-message.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1s ease;
    transform:   translate(0,0);
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}