@font-face {
	font-family: 'quicksand-light';
	src: url("/assets/fonts/Quicksand-Light/Quicksand-Light.otf");
	src: url("/assets/fonts/Quicksand-Light/Quicksand-Light.eot");
	src: url('/assets/fonts/Quicksand-Light/Quicksand-Light.eot?#iefix') format('embedded-opentype'),
	url('/assets/fonts/Quicksand-Light/Quicksand-Light.woff') format('woff'),
	url('/assets/fonts/Quicksand-Light/Quicksand-Light.ttf')  format('truetype'),
	url('/assets/fonts/Quicksand-Light/Quicksand-Light.svg#svgFontName') format('svg');
	font-style: bold;
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
	text-shadow: 0 0 0 rgba(0,0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.sc-chat-window .sc-header--team-name {
	font-family: 'quicksand-light';
}

.sc-chat-window .sc-message {
	font-family: 'quicksand-light';
}
